Repository shaliniblitzy/urban-gardner-ttpbev, changes with the owners that .github/CODEOWNERS names for each.
All owners: @garden-planner/core-team, @garden-planner/android-team, @garden-planner/mobile-architects, @garden-planner/ios-team, @garden-planner/backend-team, @garden-planner/system-architects, @garden-planner/security-team, @garden-planner/devops-team, @garden-planner/docs-team, @garden-planner/qa-team

.github/CODEOWNERS:

# Core team must review all changes by default
* @garden-planner/core-team

# Mobile platform-specific code ownership
src/android/**  @garden-planner/android-team @garden-planner/mobile-architects
src/ios/**      @garden-planner/ios-team @garden-planner/mobile-architects

# Backend services and core logic
src/backend/**  @garden-planner/backend-team @garden-planner/system-architects

# Shared code requires both core team and architect review
src/shared/**   @garden-planner/core-team @garden-planner/system-architects

# Authentication and security-related code requires security team review
src/*/auth/**   @garden-planner/security-team @garden-planner/system-architects

# Infrastructure and deployment configuration
infrastructure/**  @garden-planner/devops-team @garden-planner/security-team

# CI/CD workflow configuration
.github/workflows/**  @garden-planner/devops-team

# Documentation changes
docs/**/*.md  @garden-planner/docs-team

# Test suites
src/*/tests/**  @garden-planner/qa-team

# Database schema and migrations
src/*/database/**  @garden-planner/backend-team @garden-planner/system-architects

# Core optimization algorithms
src/*/optimization/**  @garden-planner/core-team @garden-planner/system-architects

# UI Components
src/*/ui/**  @garden-planner/mobile-architects @garden-planner/core-team

# Configuration files
*.json  @garden-planner/devops-team
*.yml   @garden-planner/devops-team
*.plist @garden-planner/ios-team
*.gradle @garden-planner/android-team

# Dependency management
Podfile*      @garden-planner/ios-team
Gemfile*      @garden-planner/ios-team
build.gradle  @garden-planner/android-team

Add public-samples/urban-gardner-ttpbev/.github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @garden-planner/core-team

Add public-samples/urban-gardner-ttpbev/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @garden-planner/core-team

Add public-samples/urban-gardner-ttpbev/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @garden-planner/core-team

Add public-samples/urban-gardner-ttpbev/.github/workflows/android.yml
  .github/workflows/android.yml
Owners: @garden-planner/devops-team

Add public-samples/urban-gardner-ttpbev/.github/workflows/backend.yml
  .github/workflows/backend.yml
Owners: @garden-planner/devops-team

Add public-samples/urban-gardner-ttpbev/.github/workflows/ios.yml
  .github/workflows/ios.yml
Owners: @garden-planner/devops-team

Add public-samples/urban-gardner-ttpbev/.github/workflows/web.yml
  .github/workflows/web.yml
Owners: @garden-planner/devops-team

Add public-samples/urban-gardner-ttpbev/blitzy/documentation/Input Prompt.md
  blitzy/documentation/Input Prompt.md
Owners: @garden-planner/core-team

Add public-samples/urban-gardner-ttpbev/blitzy/documentation/Project Guide.md
  blitzy/documentation/Project Guide.md
Owners: @garden-planner/core-team

Add public-samples/urban-gardner-ttpbev/blitzy/documentation/Technical Specifications.md
  blitzy/documentation/Technical Specifications.md
Owners: @garden-planner/core-team

Add public-samples/urban-gardner-ttpbev/infrastructure/docker/backend.Dockerfile
  infrastructure/docker/backend.Dockerfile
Owners: @garden-planner/devops-team, @garden-planner/security-team

Add public-samples/urban-gardner-ttpbev/infrastructure/docker/docker-compose.yml
  infrastructure/docker/docker-compose.yml
Owners: @garden-planner/devops-team

Add public-samples/urban-gardner-ttpbev/infrastructure/docker/web.Dockerfile
  infrastructure/docker/web.Dockerfile
Owners: @garden-planner/devops-team, @garden-planner/security-team

Add public-samples/urban-gardner-ttpbev/infrastructure/kubernetes/backend-deployment.yaml
  infrastructure/kubernetes/backend-deployment.yaml
Owners: @garden-planner/devops-team, @garden-planner/security-team

Add public-samples/urban-gardner-ttpbev/infrastructure/kubernetes/backend-service.yaml
  infrastructure/kubernetes/backend-service.yaml
Owners: @garden-planner/devops-team, @garden-planner/security-team

Add public-samples/urban-gardner-ttpbev/infrastructure/kubernetes/configmap.yaml
  infrastructure/kubernetes/configmap.yaml
Owners: @garden-planner/devops-team, @garden-planner/security-team

Add public-samples/urban-gardner-ttpbev/infrastructure/kubernetes/database-service.yaml
  infrastructure/kubernetes/database-service.yaml
Owners: @garden-planner/devops-team, @garden-planner/security-team

Add public-samples/urban-gardner-ttpbev/infrastructure/kubernetes/database-statefulset.yaml
  infrastructure/kubernetes/database-statefulset.yaml
Owners: @garden-planner/devops-team, @garden-planner/security-team

Add public-samples/urban-gardner-ttpbev/infrastructure/kubernetes/ingress.yaml
  infrastructure/kubernetes/ingress.yaml
Owners: @garden-planner/devops-team, @garden-planner/security-team

Add public-samples/urban-gardner-ttpbev/infrastructure/kubernetes/secrets.yaml
  infrastructure/kubernetes/secrets.yaml
Owners: @garden-planner/devops-team, @garden-planner/security-team

Add public-samples/urban-gardner-ttpbev/infrastructure/kubernetes/web-deployment.yaml
  infrastructure/kubernetes/web-deployment.yaml
Owners: @garden-planner/devops-team, @garden-planner/security-team

Add public-samples/urban-gardner-ttpbev/infrastructure/kubernetes/web-service.yaml
  infrastructure/kubernetes/web-service.yaml
Owners: @garden-planner/devops-team, @garden-planner/security-team

Add public-samples/urban-gardner-ttpbev/infrastructure/monitoring/alertmanager.yml
  infrastructure/monitoring/alertmanager.yml
Owners: @garden-planner/devops-team

Add public-samples/urban-gardner-ttpbev/infrastructure/monitoring/grafana-dashboard.json
  infrastructure/monitoring/grafana-dashboard.json
Owners: @garden-planner/devops-team

Add public-samples/urban-gardner-ttpbev/infrastructure/monitoring/prometheus.yml
  infrastructure/monitoring/prometheus.yml
Owners: @garden-planner/devops-team

Add public-samples/urban-gardner-ttpbev/infrastructure/scripts/backup-db.sh
  infrastructure/scripts/backup-db.sh
Owners: @garden-planner/devops-team, @garden-planner/security-team

Add public-samples/urban-gardner-ttpbev/infrastructure/scripts/deploy.sh
  infrastructure/scripts/deploy.sh
Owners: @garden-planner/devops-team, @garden-planner/security-team

Add public-samples/urban-gardner-ttpbev/infrastructure/scripts/monitoring-setup.sh
  infrastructure/scripts/monitoring-setup.sh
Owners: @garden-planner/devops-team, @garden-planner/security-team

Add public-samples/urban-gardner-ttpbev/infrastructure/scripts/rollback.sh
  infrastructure/scripts/rollback.sh
Owners: @garden-planner/devops-team, @garden-planner/security-team

Add public-samples/urban-gardner-ttpbev/infrastructure/terraform/backend.tf
  infrastructure/terraform/backend.tf
Owners: @garden-planner/devops-team, @garden-planner/security-team

Add public-samples/urban-gardner-ttpbev/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @garden-planner/devops-team, @garden-planner/security-team

Add public-samples/urban-gardner-ttpbev/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @garden-planner/devops-team, @garden-planner/security-team

Add public-samples/urban-gardner-ttpbev/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @garden-planner/devops-team, @garden-planner/security-team

Add public-samples/urban-gardner-ttpbev/infrastructure/terraform/environments/dev/terraform.tfvars
  infrastructure/terraform/environments/dev/terraform.tfvars
Owners: @garden-planner/devops-team, @garden-planner/security-team

Add public-samples/urban-gardner-ttpbev/infrastructure/terraform/environments/prod/terraform.tfvars
  infrastructure/terraform/environments/prod/terraform.tfvars
Owners: @garden-planner/devops-team, @garden-planner/security-team

Add public-samples/urban-gardner-ttpbev/infrastructure/terraform/environments/staging/terraform.tfvars
  infrastructure/terraform/environments/staging/terraform.tfvars
Owners: @garden-planner/devops-team, @garden-planner/security-team

Add public-samples/urban-gardner-ttpbev/infrastructure/terraform/modules/database/main.tf
  infrastructure/terraform/modules/database/main.tf
Owners: @garden-planner/devops-team, @garden-planner/security-team

Add public-samples/urban-gardner-ttpbev/infrastructure/terraform/modules/database/outputs.tf
  infrastructure/terraform/modules/database/outputs.tf
Owners: @garden-planner/devops-team, @garden-planner/security-team

Add public-samples/urban-gardner-ttpbev/infrastructure/terraform/modules/database/variables.tf
  infrastructure/terraform/modules/database/variables.tf
Owners: @garden-planner/devops-team, @garden-planner/security-team

Add public-samples/urban-gardner-ttpbev/infrastructure/terraform/modules/monitoring/main.tf
  infrastructure/terraform/modules/monitoring/main.tf
Owners: @garden-planner/devops-team, @garden-planner/security-team
