Repository shaliniblitzy/urban-gardner-ttpbev, changes with the owners that .github/CODEOWNERS names for each.
All owners: @garden-planner/core-team, @garden-planner/android-team, @garden-planner/mobile-architects, @garden-planner/ios-team, @garden-planner/backend-team, @garden-planner/system-architects, @garden-planner/security-team, @garden-planner/devops-team, @garden-planner/docs-team, @garden-planner/qa-team

Add public-samples/urban-gardner-ttpbev/src/ios/GardenPlannerUITests/LayoutUITests.swift
  src/ios/GardenPlannerUITests/LayoutUITests.swift
Owners: @garden-planner/ios-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/ios/GardenPlannerUITests/ScheduleUITests.swift
  src/ios/GardenPlannerUITests/ScheduleUITests.swift
Owners: @garden-planner/ios-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/ios/GardenPlannerUITests/SettingsUITests.swift
  src/ios/GardenPlannerUITests/SettingsUITests.swift
Owners: @garden-planner/ios-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/web/.gitignore
  src/web/.gitignore
Owners: @garden-planner/core-team

Add public-samples/urban-gardner-ttpbev/src/web/README.md
  src/web/README.md
Owners: @garden-planner/core-team

Add public-samples/urban-gardner-ttpbev/src/web/app.json
  src/web/app.json
Owners: @garden-planner/devops-team

Add public-samples/urban-gardner-ttpbev/src/web/babel.config.js
  src/web/babel.config.js
Owners: @garden-planner/core-team

Add public-samples/urban-gardner-ttpbev/src/web/index.js
  src/web/index.js
Owners: @garden-planner/core-team

Add public-samples/urban-gardner-ttpbev/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @garden-planner/core-team

Add public-samples/urban-gardner-ttpbev/src/web/metro.config.js
  src/web/metro.config.js
Owners: @garden-planner/core-team

Add public-samples/urban-gardner-ttpbev/src/web/package.json
  src/web/package.json
Owners: @garden-planner/devops-team

Add public-samples/urban-gardner-ttpbev/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @garden-planner/devops-team

Add public-samples/urban-gardner-ttpbev/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @garden-planner/core-team

Add public-samples/urban-gardner-ttpbev/src/web/src/index.tsx
  src/web/src/index.tsx
Owners: @garden-planner/core-team

Add public-samples/urban-gardner-ttpbev/src/web/src/__tests__/components/common/Button.test.tsx
  src/web/src/__tests__/components/common/Button.test.tsx
Owners: @garden-planner/core-team

Add public-samples/urban-gardner-ttpbev/src/web/src/__tests__/components/common/Input.test.tsx
  src/web/src/__tests__/components/common/Input.test.tsx
Owners: @garden-planner/core-team

Add public-samples/urban-gardner-ttpbev/src/web/src/__tests__/components/garden/GardenGrid.test.tsx
  src/web/src/__tests__/components/garden/GardenGrid.test.tsx
Owners: @garden-planner/core-team

Add public-samples/urban-gardner-ttpbev/src/web/src/__tests__/components/garden/PlantCard.test.tsx
  src/web/src/__tests__/components/garden/PlantCard.test.tsx
Owners: @garden-planner/core-team

Add public-samples/urban-gardner-ttpbev/src/web/src/__tests__/components/schedule/ScheduleCard.test.tsx
  src/web/src/__tests__/components/schedule/ScheduleCard.test.tsx
Owners: @garden-planner/core-team

Add public-samples/urban-gardner-ttpbev/src/web/src/__tests__/hooks/useGarden.test.ts
  src/web/src/__tests__/hooks/useGarden.test.ts
Owners: @garden-planner/core-team

Add public-samples/urban-gardner-ttpbev/src/web/src/__tests__/hooks/useSchedule.test.ts
  src/web/src/__tests__/hooks/useSchedule.test.ts
Owners: @garden-planner/core-team

Add public-samples/urban-gardner-ttpbev/src/web/src/__tests__/screens/garden/GardenSetupScreen.test.tsx
  src/web/src/__tests__/screens/garden/GardenSetupScreen.test.tsx
Owners: @garden-planner/core-team

Add public-samples/urban-gardner-ttpbev/src/web/src/__tests__/screens/schedule/ScheduleListScreen.test.tsx
  src/web/src/__tests__/screens/schedule/ScheduleListScreen.test.tsx
Owners: @garden-planner/core-team

Add public-samples/urban-gardner-ttpbev/src/web/src/__tests__/services/garden.service.test.ts
  src/web/src/__tests__/services/garden.service.test.ts
Owners: @garden-planner/core-team

Add public-samples/urban-gardner-ttpbev/src/web/src/__tests__/services/schedule.service.test.ts
  src/web/src/__tests__/services/schedule.service.test.ts
Owners: @garden-planner/core-team

Add public-samples/urban-gardner-ttpbev/src/web/src/__tests__/store/garden/reducer.test.ts
  src/web/src/__tests__/store/garden/reducer.test.ts
Owners: @garden-planner/core-team

Add public-samples/urban-gardner-ttpbev/src/web/src/__tests__/store/schedule/reducer.test.ts
  src/web/src/__tests__/store/schedule/reducer.test.ts
Owners: @garden-planner/core-team

Add public-samples/urban-gardner-ttpbev/src/web/src/components/common/Button.tsx
  src/web/src/components/common/Button.tsx
Owners: @garden-planner/core-team

Add public-samples/urban-gardner-ttpbev/src/web/src/components/common/Card.tsx
  src/web/src/components/common/Card.tsx
Owners: @garden-planner/core-team

Add public-samples/urban-gardner-ttpbev/src/web/src/components/common/ErrorBoundary.tsx
  src/web/src/components/common/ErrorBoundary.tsx
Owners: @garden-planner/core-team

Add public-samples/urban-gardner-ttpbev/src/web/src/components/common/Input.tsx
  src/web/src/components/common/Input.tsx
Owners: @garden-planner/core-team

Add public-samples/urban-gardner-ttpbev/src/web/src/components/common/Loading.tsx
  src/web/src/components/common/Loading.tsx
Owners: @garden-planner/core-team

Add public-samples/urban-gardner-ttpbev/src/web/src/components/common/Modal.tsx
  src/web/src/components/common/Modal.tsx
Owners: @garden-planner/core-team

Add public-samples/urban-gardner-ttpbev/src/web/src/components/common/Select.tsx
  src/web/src/components/common/Select.tsx
Owners: @garden-planner/core-team

Add public-samples/urban-gardner-ttpbev/src/web/src/components/garden/AreaInput.tsx
  src/web/src/components/garden/AreaInput.tsx
Owners: @garden-planner/core-team

Add public-samples/urban-gardner-ttpbev/src/web/src/components/garden/GardenGrid.tsx
  src/web/src/components/garden/GardenGrid.tsx
Owners: @garden-planner/core-team

Add public-samples/urban-gardner-ttpbev/src/web/src/components/garden/PlantCard.tsx
  src/web/src/components/garden/PlantCard.tsx
Owners: @garden-planner/core-team

Add public-samples/urban-gardner-ttpbev/src/web/src/components/garden/SunlightInput.tsx
  src/web/src/components/garden/SunlightInput.tsx
Owners: @garden-planner/core-team

Add public-samples/urban-gardner-ttpbev/src/web/src/components/garden/ZoneSelector.tsx
  src/web/src/components/garden/ZoneSelector.tsx
Owners: @garden-planner/core-team

Add public-samples/urban-gardner-ttpbev/src/web/src/components/schedule/Calendar.tsx
  src/web/src/components/schedule/Calendar.tsx
Owners: @garden-planner/core-team

.github/CODEOWNERS:

# Core team must review all changes by default
* @garden-planner/core-team

# Mobile platform-specific code ownership
src/android/**  @garden-planner/android-team @garden-planner/mobile-architects
src/ios/**      @garden-planner/ios-team @garden-planner/mobile-architects

# Backend services and core logic
src/backend/**  @garden-planner/backend-team @garden-planner/system-architects

# Shared code requires both core team and architect review
src/shared/**   @garden-planner/core-team @garden-planner/system-architects

# Authentication and security-related code requires security team review
src/*/auth/**   @garden-planner/security-team @garden-planner/system-architects

# Infrastructure and deployment configuration
infrastructure/**  @garden-planner/devops-team @garden-planner/security-team

# CI/CD workflow configuration
.github/workflows/**  @garden-planner/devops-team

# Documentation changes
docs/**/*.md  @garden-planner/docs-team

# Test suites
src/*/tests/**  @garden-planner/qa-team

# Database schema and migrations
src/*/database/**  @garden-planner/backend-team @garden-planner/system-architects

# Core optimization algorithms
src/*/optimization/**  @garden-planner/core-team @garden-planner/system-architects

# UI Components
src/*/ui/**  @garden-planner/mobile-architects @garden-planner/core-team

# Configuration files
*.json  @garden-planner/devops-team
*.yml   @garden-planner/devops-team
*.plist @garden-planner/ios-team
*.gradle @garden-planner/android-team

# Dependency management
Podfile*      @garden-planner/ios-team
Gemfile*      @garden-planner/ios-team
build.gradle  @garden-planner/android-team
