Repository shaliniblitzy/urban-gardner-ttpbev, changes with the owners that .github/CODEOWNERS names for each.
All owners: @garden-planner/core-team, @garden-planner/android-team, @garden-planner/mobile-architects, @garden-planner/ios-team, @garden-planner/backend-team, @garden-planner/system-architects, @garden-planner/security-team, @garden-planner/devops-team, @garden-planner/docs-team, @garden-planner/qa-team

.github/CODEOWNERS:

# Core team must review all changes by default
* @garden-planner/core-team

# Mobile platform-specific code ownership
src/android/**  @garden-planner/android-team @garden-planner/mobile-architects
src/ios/**      @garden-planner/ios-team @garden-planner/mobile-architects

# Backend services and core logic
src/backend/**  @garden-planner/backend-team @garden-planner/system-architects

# Shared code requires both core team and architect review
src/shared/**   @garden-planner/core-team @garden-planner/system-architects

# Authentication and security-related code requires security team review
src/*/auth/**   @garden-planner/security-team @garden-planner/system-architects

# Infrastructure and deployment configuration
infrastructure/**  @garden-planner/devops-team @garden-planner/security-team

# CI/CD workflow configuration
.github/workflows/**  @garden-planner/devops-team

# Documentation changes
docs/**/*.md  @garden-planner/docs-team

# Test suites
src/*/tests/**  @garden-planner/qa-team

# Database schema and migrations
src/*/database/**  @garden-planner/backend-team @garden-planner/system-architects

# Core optimization algorithms
src/*/optimization/**  @garden-planner/core-team @garden-planner/system-architects

# UI Components
src/*/ui/**  @garden-planner/mobile-architects @garden-planner/core-team

# Configuration files
*.json  @garden-planner/devops-team
*.yml   @garden-planner/devops-team
*.plist @garden-planner/ios-team
*.gradle @garden-planner/android-team

# Dependency management
Podfile*      @garden-planner/ios-team
Gemfile*      @garden-planner/ios-team
build.gradle  @garden-planner/android-team

Add public-samples/urban-gardner-ttpbev/src/backend/tests/unit/services/optimization/garden-optimizer.test.ts
  src/backend/tests/unit/services/optimization/garden-optimizer.test.ts
Owners: @garden-planner/qa-team

Add public-samples/urban-gardner-ttpbev/src/backend/tests/unit/services/optimization/space-calculator.test.ts
  src/backend/tests/unit/services/optimization/space-calculator.test.ts
Owners: @garden-planner/qa-team

Add public-samples/urban-gardner-ttpbev/src/backend/tests/unit/services/optimization/sunlight-analyzer.test.ts
  src/backend/tests/unit/services/optimization/sunlight-analyzer.test.ts
Owners: @garden-planner/qa-team

Add public-samples/urban-gardner-ttpbev/src/backend/tests/unit/services/scheduling/maintenance-calculator.test.ts
  src/backend/tests/unit/services/scheduling/maintenance-calculator.test.ts
Owners: @garden-planner/qa-team

Add public-samples/urban-gardner-ttpbev/src/backend/tests/unit/services/scheduling/notification-scheduler.test.ts
  src/backend/tests/unit/services/scheduling/notification-scheduler.test.ts
Owners: @garden-planner/qa-team

Add public-samples/urban-gardner-ttpbev/src/backend/tests/unit/services/scheduling/schedule-generator.test.ts
  src/backend/tests/unit/services/scheduling/schedule-generator.test.ts
Owners: @garden-planner/qa-team

Add public-samples/urban-gardner-ttpbev/src/ios/.gitignore
  src/ios/.gitignore
Owners: @garden-planner/ios-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/ios/README.md
  src/ios/README.md
Owners: @garden-planner/ios-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/ios/swiftlint.yml
  src/ios/swiftlint.yml
Owners: @garden-planner/devops-team

Add public-samples/urban-gardner-ttpbev/src/ios/GardenPlanner/AppDelegate.swift
  src/ios/GardenPlanner/AppDelegate.swift
Owners: @garden-planner/ios-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/ios/GardenPlanner/Info.plist
  src/ios/GardenPlanner/Info.plist
Owners: @garden-planner/ios-team

Add public-samples/urban-gardner-ttpbev/src/ios/GardenPlanner/SceneDelegate.swift
  src/ios/GardenPlanner/SceneDelegate.swift
Owners: @garden-planner/ios-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/ios/GardenPlanner/Core/Constants/AppConstants.swift
  src/ios/GardenPlanner/Core/Constants/AppConstants.swift
Owners: @garden-planner/ios-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/ios/GardenPlanner/Core/Constants/ErrorConstants.swift
  src/ios/GardenPlanner/Core/Constants/ErrorConstants.swift
Owners: @garden-planner/ios-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/ios/GardenPlanner/Core/Database/DatabaseManager.swift
  src/ios/GardenPlanner/Core/Database/DatabaseManager.swift
Owners: @garden-planner/ios-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/ios/GardenPlanner/Core/Database/Migrations/DatabaseMigrationManager.swift
  src/ios/GardenPlanner/Core/Database/Migrations/DatabaseMigrationManager.swift
Owners: @garden-planner/ios-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/ios/GardenPlanner/Core/Extensions/Date+Extensions.swift
  src/ios/GardenPlanner/Core/Extensions/Date+Extensions.swift
Owners: @garden-planner/ios-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/ios/GardenPlanner/Core/Extensions/UIColor+Extensions.swift
  src/ios/GardenPlanner/Core/Extensions/UIColor+Extensions.swift
Owners: @garden-planner/ios-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/ios/GardenPlanner/Core/Extensions/UIView+Extensions.swift
  src/ios/GardenPlanner/Core/Extensions/UIView+Extensions.swift
Owners: @garden-planner/ios-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/ios/GardenPlanner/Core/Notifications/NotificationManager.swift
  src/ios/GardenPlanner/Core/Notifications/NotificationManager.swift
Owners: @garden-planner/ios-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/ios/GardenPlanner/Core/Notifications/NotificationScheduler.swift
  src/ios/GardenPlanner/Core/Notifications/NotificationScheduler.swift
Owners: @garden-planner/ios-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/ios/GardenPlanner/Core/Protocols/Coordinator.swift
  src/ios/GardenPlanner/Core/Protocols/Coordinator.swift
Owners: @garden-planner/ios-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/ios/GardenPlanner/Core/Protocols/StoryboardInstantiatable.swift
  src/ios/GardenPlanner/Core/Protocols/StoryboardInstantiatable.swift
Owners: @garden-planner/ios-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/ios/GardenPlanner/Core/Protocols/ViewModelType.swift
  src/ios/GardenPlanner/Core/Protocols/ViewModelType.swift
Owners: @garden-planner/ios-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/ios/GardenPlanner/Core/Security/BiometricAuthManager.swift
  src/ios/GardenPlanner/Core/Security/BiometricAuthManager.swift
Owners: @garden-planner/ios-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/ios/GardenPlanner/Core/Security/EncryptionManager.swift
  src/ios/GardenPlanner/Core/Security/EncryptionManager.swift
Owners: @garden-planner/ios-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/ios/GardenPlanner/Core/Utils/AlertManager.swift
  src/ios/GardenPlanner/Core/Utils/AlertManager.swift
Owners: @garden-planner/ios-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/ios/GardenPlanner/Core/Utils/KeychainManager.swift
  src/ios/GardenPlanner/Core/Utils/KeychainManager.swift
Owners: @garden-planner/ios-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/ios/GardenPlanner/Core/Utils/Logger.swift
  src/ios/GardenPlanner/Core/Utils/Logger.swift
Owners: @garden-planner/ios-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/ios/GardenPlanner/Models/Garden.swift
  src/ios/GardenPlanner/Models/Garden.swift
Owners: @garden-planner/ios-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/ios/GardenPlanner/Models/Plant.swift
  src/ios/GardenPlanner/Models/Plant.swift
Owners: @garden-planner/ios-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/ios/GardenPlanner/Models/Schedule.swift
  src/ios/GardenPlanner/Models/Schedule.swift
Owners: @garden-planner/ios-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/ios/GardenPlanner/Models/UserPreferences.swift
  src/ios/GardenPlanner/Models/UserPreferences.swift
Owners: @garden-planner/ios-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/ios/GardenPlanner/Models/Zone.swift
  src/ios/GardenPlanner/Models/Zone.swift
Owners: @garden-planner/ios-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/ios/GardenPlanner/Resources/Assets.xcassets/Contents.json
  src/ios/GardenPlanner/Resources/Assets.xcassets/Contents.json
Owners: @garden-planner/devops-team

Add public-samples/urban-gardner-ttpbev/src/ios/GardenPlanner/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  src/ios/GardenPlanner/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
Owners: @garden-planner/devops-team

Add public-samples/urban-gardner-ttpbev/src/ios/GardenPlanner/Resources/Assets.xcassets/Colors.xcassets/Contents.json
  src/ios/GardenPlanner/Resources/Assets.xcassets/Colors.xcassets/Contents.json
Owners: @garden-planner/devops-team

Add public-samples/urban-gardner-ttpbev/src/ios/GardenPlanner/Resources/Assets.xcassets/Icons.xcassets/Contents.json
  src/ios/GardenPlanner/Resources/Assets.xcassets/Icons.xcassets/Contents.json
Owners: @garden-planner/devops-team

Add public-samples/urban-gardner-ttpbev/src/ios/GardenPlanner/Services/GardenService.swift
  src/ios/GardenPlanner/Services/GardenService.swift
Owners: @garden-planner/ios-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/ios/GardenPlanner/Services/PlantService.swift
  src/ios/GardenPlanner/Services/PlantService.swift
Owners: @garden-planner/ios-team, @garden-planner/mobile-architects
