Repository shaliniblitzy/urban-gardner-ttpbev, changes with the owners that .github/CODEOWNERS names for each.
All owners: @garden-planner/core-team, @garden-planner/android-team, @garden-planner/mobile-architects, @garden-planner/ios-team, @garden-planner/backend-team, @garden-planner/system-architects, @garden-planner/security-team, @garden-planner/devops-team, @garden-planner/docs-team, @garden-planner/qa-team

Add public-samples/urban-gardner-ttpbev/src/android/gradle/wrapper/gradle-wrapper.properties
  src/android/gradle/wrapper/gradle-wrapper.properties
Owners: @garden-planner/android-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/backend/.env.example
  src/backend/.env.example
Owners: @garden-planner/backend-team, @garden-planner/system-architects

Add public-samples/urban-gardner-ttpbev/src/backend/.gitignore
  src/backend/.gitignore
Owners: @garden-planner/backend-team, @garden-planner/system-architects

Add public-samples/urban-gardner-ttpbev/src/backend/README.md
  src/backend/README.md
Owners: @garden-planner/backend-team, @garden-planner/system-architects

Add public-samples/urban-gardner-ttpbev/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @garden-planner/backend-team, @garden-planner/system-architects

Add public-samples/urban-gardner-ttpbev/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @garden-planner/devops-team

Add public-samples/urban-gardner-ttpbev/src/backend/package.json
  src/backend/package.json
Owners: @garden-planner/devops-team

Add public-samples/urban-gardner-ttpbev/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @garden-planner/devops-team

Add public-samples/urban-gardner-ttpbev/src/backend/src/app.ts
  src/backend/src/app.ts
Owners: @garden-planner/backend-team, @garden-planner/system-architects

Add public-samples/urban-gardner-ttpbev/src/backend/src/index.ts
  src/backend/src/index.ts
Owners: @garden-planner/backend-team, @garden-planner/system-architects

Add public-samples/urban-gardner-ttpbev/src/backend/src/config/database.config.ts
  src/backend/src/config/database.config.ts
Owners: @garden-planner/backend-team, @garden-planner/system-architects

Add public-samples/urban-gardner-ttpbev/src/backend/src/config/notification.config.ts
  src/backend/src/config/notification.config.ts
Owners: @garden-planner/backend-team, @garden-planner/system-architects

Add public-samples/urban-gardner-ttpbev/src/backend/src/config/security.config.ts
  src/backend/src/config/security.config.ts
Owners: @garden-planner/backend-team, @garden-planner/system-architects

Add public-samples/urban-gardner-ttpbev/src/backend/src/config/validation.config.ts
  src/backend/src/config/validation.config.ts
Owners: @garden-planner/backend-team, @garden-planner/system-architects

Add public-samples/urban-gardner-ttpbev/src/backend/src/constants/error.constants.ts
  src/backend/src/constants/error.constants.ts
Owners: @garden-planner/backend-team, @garden-planner/system-architects

Add public-samples/urban-gardner-ttpbev/src/backend/src/constants/garden.constants.ts
  src/backend/src/constants/garden.constants.ts
Owners: @garden-planner/backend-team, @garden-planner/system-architects

Add public-samples/urban-gardner-ttpbev/src/backend/src/constants/plant.constants.ts
  src/backend/src/constants/plant.constants.ts
Owners: @garden-planner/backend-team, @garden-planner/system-architects

Add public-samples/urban-gardner-ttpbev/src/backend/src/constants/schedule.constants.ts
  src/backend/src/constants/schedule.constants.ts
Owners: @garden-planner/backend-team, @garden-planner/system-architects

Add public-samples/urban-gardner-ttpbev/src/backend/src/controllers/garden.controller.ts
  src/backend/src/controllers/garden.controller.ts
Owners: @garden-planner/backend-team, @garden-planner/system-architects

Add public-samples/urban-gardner-ttpbev/src/backend/src/controllers/notification.controller.ts
  src/backend/src/controllers/notification.controller.ts
Owners: @garden-planner/backend-team, @garden-planner/system-architects

Add public-samples/urban-gardner-ttpbev/src/backend/src/controllers/plant.controller.ts
  src/backend/src/controllers/plant.controller.ts
Owners: @garden-planner/backend-team, @garden-planner/system-architects

Add public-samples/urban-gardner-ttpbev/src/backend/src/controllers/schedule.controller.ts
  src/backend/src/controllers/schedule.controller.ts
Owners: @garden-planner/backend-team, @garden-planner/system-architects

Add public-samples/urban-gardner-ttpbev/src/backend/src/db/migrations/001_initial_schema.ts
  src/backend/src/db/migrations/001_initial_schema.ts
Owners: @garden-planner/backend-team, @garden-planner/system-architects

Add public-samples/urban-gardner-ttpbev/src/backend/src/db/migrations/002_plant_database.ts
  src/backend/src/db/migrations/002_plant_database.ts
Owners: @garden-planner/backend-team, @garden-planner/system-architects

Add public-samples/urban-gardner-ttpbev/src/backend/src/db/migrations/003_schedule_tables.ts
  src/backend/src/db/migrations/003_schedule_tables.ts
Owners: @garden-planner/backend-team, @garden-planner/system-architects

Add public-samples/urban-gardner-ttpbev/src/backend/src/db/seeds/plants.seed.ts
  src/backend/src/db/seeds/plants.seed.ts
Owners: @garden-planner/backend-team, @garden-planner/system-architects

Add public-samples/urban-gardner-ttpbev/src/backend/src/db/seeds/zones.seed.ts
  src/backend/src/db/seeds/zones.seed.ts
Owners: @garden-planner/backend-team, @garden-planner/system-architects

Add public-samples/urban-gardner-ttpbev/src/backend/src/interfaces/garden.interface.ts
  src/backend/src/interfaces/garden.interface.ts
Owners: @garden-planner/backend-team, @garden-planner/system-architects

Add public-samples/urban-gardner-ttpbev/src/backend/src/interfaces/notification.interface.ts
  src/backend/src/interfaces/notification.interface.ts
Owners: @garden-planner/backend-team, @garden-planner/system-architects

Add public-samples/urban-gardner-ttpbev/src/backend/src/interfaces/plant.interface.ts
  src/backend/src/interfaces/plant.interface.ts
Owners: @garden-planner/backend-team, @garden-planner/system-architects

Add public-samples/urban-gardner-ttpbev/src/backend/src/interfaces/schedule.interface.ts
  src/backend/src/interfaces/schedule.interface.ts
Owners: @garden-planner/backend-team, @garden-planner/system-architects

Add public-samples/urban-gardner-ttpbev/src/backend/src/middleware/auth.middleware.ts
  src/backend/src/middleware/auth.middleware.ts
Owners: @garden-planner/backend-team, @garden-planner/system-architects

Add public-samples/urban-gardner-ttpbev/src/backend/src/middleware/error.middleware.ts
  src/backend/src/middleware/error.middleware.ts
Owners: @garden-planner/backend-team, @garden-planner/system-architects

Add public-samples/urban-gardner-ttpbev/src/backend/src/middleware/logger.middleware.ts
  src/backend/src/middleware/logger.middleware.ts
Owners: @garden-planner/backend-team, @garden-planner/system-architects

Add public-samples/urban-gardner-ttpbev/src/backend/src/middleware/validation.middleware.ts
  src/backend/src/middleware/validation.middleware.ts
Owners: @garden-planner/backend-team, @garden-planner/system-architects

Add public-samples/urban-gardner-ttpbev/src/backend/src/models/garden.model.ts
  src/backend/src/models/garden.model.ts
Owners: @garden-planner/backend-team, @garden-planner/system-architects

Add public-samples/urban-gardner-ttpbev/src/backend/src/models/notification.model.ts
  src/backend/src/models/notification.model.ts
Owners: @garden-planner/backend-team, @garden-planner/system-architects

Add public-samples/urban-gardner-ttpbev/src/backend/src/models/plant.model.ts
  src/backend/src/models/plant.model.ts
Owners: @garden-planner/backend-team, @garden-planner/system-architects

Add public-samples/urban-gardner-ttpbev/src/backend/src/models/schedule.model.ts
  src/backend/src/models/schedule.model.ts
Owners: @garden-planner/backend-team, @garden-planner/system-architects

Add public-samples/urban-gardner-ttpbev/src/backend/src/repositories/garden.repository.ts
  src/backend/src/repositories/garden.repository.ts
Owners: @garden-planner/backend-team, @garden-planner/system-architects

.github/CODEOWNERS:

# Core team must review all changes by default
* @garden-planner/core-team

# Mobile platform-specific code ownership
src/android/**  @garden-planner/android-team @garden-planner/mobile-architects
src/ios/**      @garden-planner/ios-team @garden-planner/mobile-architects

# Backend services and core logic
src/backend/**  @garden-planner/backend-team @garden-planner/system-architects

# Shared code requires both core team and architect review
src/shared/**   @garden-planner/core-team @garden-planner/system-architects

# Authentication and security-related code requires security team review
src/*/auth/**   @garden-planner/security-team @garden-planner/system-architects

# Infrastructure and deployment configuration
infrastructure/**  @garden-planner/devops-team @garden-planner/security-team

# CI/CD workflow configuration
.github/workflows/**  @garden-planner/devops-team

# Documentation changes
docs/**/*.md  @garden-planner/docs-team

# Test suites
src/*/tests/**  @garden-planner/qa-team

# Database schema and migrations
src/*/database/**  @garden-planner/backend-team @garden-planner/system-architects

# Core optimization algorithms
src/*/optimization/**  @garden-planner/core-team @garden-planner/system-architects

# UI Components
src/*/ui/**  @garden-planner/mobile-architects @garden-planner/core-team

# Configuration files
*.json  @garden-planner/devops-team
*.yml   @garden-planner/devops-team
*.plist @garden-planner/ios-team
*.gradle @garden-planner/android-team

# Dependency management
Podfile*      @garden-planner/ios-team
Gemfile*      @garden-planner/ios-team
build.gradle  @garden-planner/android-team
