Repository shaliniblitzy/urban-gardner-ttpbev, changes with the owners that .github/CODEOWNERS names for each.
All owners: @garden-planner/core-team, @garden-planner/android-team, @garden-planner/mobile-architects, @garden-planner/ios-team, @garden-planner/backend-team, @garden-planner/system-architects, @garden-planner/security-team, @garden-planner/devops-team, @garden-planner/docs-team, @garden-planner/qa-team

Add public-samples/urban-gardner-ttpbev/infrastructure/terraform/modules/monitoring/outputs.tf
  infrastructure/terraform/modules/monitoring/outputs.tf
Owners: @garden-planner/devops-team, @garden-planner/security-team

Add public-samples/urban-gardner-ttpbev/infrastructure/terraform/modules/monitoring/variables.tf
  infrastructure/terraform/modules/monitoring/variables.tf
Owners: @garden-planner/devops-team, @garden-planner/security-team

Add public-samples/urban-gardner-ttpbev/infrastructure/terraform/modules/notifications/main.tf
  infrastructure/terraform/modules/notifications/main.tf
Owners: @garden-planner/devops-team, @garden-planner/security-team

Add public-samples/urban-gardner-ttpbev/infrastructure/terraform/modules/notifications/outputs.tf
  infrastructure/terraform/modules/notifications/outputs.tf
Owners: @garden-planner/devops-team, @garden-planner/security-team

Add public-samples/urban-gardner-ttpbev/infrastructure/terraform/modules/notifications/variables.tf
  infrastructure/terraform/modules/notifications/variables.tf
Owners: @garden-planner/devops-team, @garden-planner/security-team

Add public-samples/urban-gardner-ttpbev/src/android/.gitignore
  src/android/.gitignore
Owners: @garden-planner/android-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/android/README.md
  src/android/README.md
Owners: @garden-planner/android-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/android/build.gradle
  src/android/build.gradle
Owners: @garden-planner/android-team

Add public-samples/urban-gardner-ttpbev/src/android/gradle.properties
  src/android/gradle.properties
Owners: @garden-planner/android-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/android/gradlew
  src/android/gradlew
Owners: @garden-planner/android-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/android/gradlew.bat
  src/android/gradlew.bat
Owners: @garden-planner/android-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/android/settings.gradle
  src/android/settings.gradle
Owners: @garden-planner/android-team

Add public-samples/urban-gardner-ttpbev/src/android/app/build.gradle
  src/android/app/build.gradle
Owners: @garden-planner/android-team

Add public-samples/urban-gardner-ttpbev/src/android/app/proguard-rules.pro
  src/android/app/proguard-rules.pro
Owners: @garden-planner/android-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/android/app/src/androidTest/java/com/gardenplanner/ExampleInstrumentedTest.kt
  src/android/app/src/androidTest/java/com/gardenplanner/ExampleInstrumentedTest.kt
Owners: @garden-planner/android-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/android/app/src/main/AndroidManifest.xml
  src/android/app/src/main/AndroidManifest.xml
Owners: @garden-planner/android-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/android/app/src/main/java/com/gardenplanner/MainActivity.kt
  src/android/app/src/main/java/com/gardenplanner/MainActivity.kt
Owners: @garden-planner/android-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/android/app/src/main/java/com/gardenplanner/MainApplication.kt
  src/android/app/src/main/java/com/gardenplanner/MainApplication.kt
Owners: @garden-planner/android-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/android/app/src/main/java/com/gardenplanner/core/database/AppDatabase.kt
  src/android/app/src/main/java/com/gardenplanner/core/database/AppDatabase.kt
Owners: @garden-planner/android-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/android/app/src/main/java/com/gardenplanner/core/database/dao/GardenDao.kt
  src/android/app/src/main/java/com/gardenplanner/core/database/dao/GardenDao.kt
Owners: @garden-planner/android-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/android/app/src/main/java/com/gardenplanner/core/database/dao/PlantDao.kt
  src/android/app/src/main/java/com/gardenplanner/core/database/dao/PlantDao.kt
Owners: @garden-planner/android-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/android/app/src/main/java/com/gardenplanner/core/database/dao/ScheduleDao.kt
  src/android/app/src/main/java/com/gardenplanner/core/database/dao/ScheduleDao.kt
Owners: @garden-planner/android-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/android/app/src/main/java/com/gardenplanner/core/database/entities/GardenEntity.kt
  src/android/app/src/main/java/com/gardenplanner/core/database/entities/GardenEntity.kt
Owners: @garden-planner/android-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/android/app/src/main/java/com/gardenplanner/core/database/entities/PlantEntity.kt
  src/android/app/src/main/java/com/gardenplanner/core/database/entities/PlantEntity.kt
Owners: @garden-planner/android-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/android/app/src/main/java/com/gardenplanner/core/database/entities/ScheduleEntity.kt
  src/android/app/src/main/java/com/gardenplanner/core/database/entities/ScheduleEntity.kt
Owners: @garden-planner/android-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/android/app/src/main/java/com/gardenplanner/core/di/AppModule.kt
  src/android/app/src/main/java/com/gardenplanner/core/di/AppModule.kt
Owners: @garden-planner/android-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/android/app/src/main/java/com/gardenplanner/core/di/DatabaseModule.kt
  src/android/app/src/main/java/com/gardenplanner/core/di/DatabaseModule.kt
Owners: @garden-planner/android-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/android/app/src/main/java/com/gardenplanner/core/di/NetworkModule.kt
  src/android/app/src/main/java/com/gardenplanner/core/di/NetworkModule.kt
Owners: @garden-planner/android-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/android/app/src/main/java/com/gardenplanner/core/notifications/NotificationManager.kt
  src/android/app/src/main/java/com/gardenplanner/core/notifications/NotificationManager.kt
Owners: @garden-planner/android-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/android/app/src/main/java/com/gardenplanner/core/notifications/NotificationWorker.kt
  src/android/app/src/main/java/com/gardenplanner/core/notifications/NotificationWorker.kt
Owners: @garden-planner/android-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/android/app/src/main/java/com/gardenplanner/core/security/BiometricManager.kt
  src/android/app/src/main/java/com/gardenplanner/core/security/BiometricManager.kt
Owners: @garden-planner/android-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/android/app/src/main/java/com/gardenplanner/core/security/EncryptionManager.kt
  src/android/app/src/main/java/com/gardenplanner/core/security/EncryptionManager.kt
Owners: @garden-planner/android-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/android/app/src/main/java/com/gardenplanner/core/storage/FileManager.kt
  src/android/app/src/main/java/com/gardenplanner/core/storage/FileManager.kt
Owners: @garden-planner/android-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/android/app/src/main/java/com/gardenplanner/core/storage/PreferencesManager.kt
  src/android/app/src/main/java/com/gardenplanner/core/storage/PreferencesManager.kt
Owners: @garden-planner/android-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/android/app/src/main/java/com/gardenplanner/core/utils/Constants.kt
  src/android/app/src/main/java/com/gardenplanner/core/utils/Constants.kt
Owners: @garden-planner/android-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/android/app/src/main/java/com/gardenplanner/core/utils/Extensions.kt
  src/android/app/src/main/java/com/gardenplanner/core/utils/Extensions.kt
Owners: @garden-planner/android-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/android/app/src/main/java/com/gardenplanner/data/repositories/GardenRepository.kt
  src/android/app/src/main/java/com/gardenplanner/data/repositories/GardenRepository.kt
Owners: @garden-planner/android-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/android/app/src/main/java/com/gardenplanner/data/repositories/PlantRepository.kt
  src/android/app/src/main/java/com/gardenplanner/data/repositories/PlantRepository.kt
Owners: @garden-planner/android-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/android/app/src/main/java/com/gardenplanner/data/repositories/ScheduleRepository.kt
  src/android/app/src/main/java/com/gardenplanner/data/repositories/ScheduleRepository.kt
Owners: @garden-planner/android-team, @garden-planner/mobile-architects

Add public-samples/urban-gardner-ttpbev/src/android/app/src/main/java/com/gardenplanner/domain/models/Garden.kt
  src/android/app/src/main/java/com/gardenplanner/domain/models/Garden.kt
Owners: @garden-planner/android-team, @garden-planner/mobile-architects

.github/CODEOWNERS:

# Core team must review all changes by default
* @garden-planner/core-team

# Mobile platform-specific code ownership
src/android/**  @garden-planner/android-team @garden-planner/mobile-architects
src/ios/**      @garden-planner/ios-team @garden-planner/mobile-architects

# Backend services and core logic
src/backend/**  @garden-planner/backend-team @garden-planner/system-architects

# Shared code requires both core team and architect review
src/shared/**   @garden-planner/core-team @garden-planner/system-architects

# Authentication and security-related code requires security team review
src/*/auth/**   @garden-planner/security-team @garden-planner/system-architects

# Infrastructure and deployment configuration
infrastructure/**  @garden-planner/devops-team @garden-planner/security-team

# CI/CD workflow configuration
.github/workflows/**  @garden-planner/devops-team

# Documentation changes
docs/**/*.md  @garden-planner/docs-team

# Test suites
src/*/tests/**  @garden-planner/qa-team

# Database schema and migrations
src/*/database/**  @garden-planner/backend-team @garden-planner/system-architects

# Core optimization algorithms
src/*/optimization/**  @garden-planner/core-team @garden-planner/system-architects

# UI Components
src/*/ui/**  @garden-planner/mobile-architects @garden-planner/core-team

# Configuration files
*.json  @garden-planner/devops-team
*.yml   @garden-planner/devops-team
*.plist @garden-planner/ios-team
*.gradle @garden-planner/android-team

# Dependency management
Podfile*      @garden-planner/ios-team
Gemfile*      @garden-planner/ios-team
build.gradle  @garden-planner/android-team
